<a href="https://colab.research.google.com/github/ferdanischool-pixel/pemrograman-dasar/blob/main/percobaan_pertemuan_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
total = input("berpa porsi makan yang anda beli")
nama = input("siapa nama pelanggan")

berpa porsi makan yang anda beli 1
siapa nama pelanggan alpin

In [ ]:
total = int (input("berapa porsi makan yang anda beli"))
nama = str (input("siapa nama pelanggan"))

berapa porsi makan yang anda beli 2
siapa nama pelanggan alpin

In [ ]:
food = "mi ayam bakso"
print("alpin sedang memesan")

alpin sedang memesan

In [ ]:
food = "mi ayam bakso"
print("alpin sedang memesan",food)
print("alpin sedang memesan"+food)
print("alpin sedang memesan %s" % (food))

alpin sedang memesan mi ayam bakso
alpin sedang memesanmi ayam bakso
alpin sedang memesan mi ayam bakso

In [ ]:
a = 20
b = 5
print("penjumlahan", a+b)
print("penguramgan", a-b)
print("perkalian", a*b)
print("pembagian", a/b)

penjumlahan 25
penguramgan 15
perkalian 100
pembagian 4.0

In [ ]:
bilangan = 8
hasil = (bilangan>0)and(bilangan%2==0)
print("genap dan positif?",hasil)

genap dan positif? True

In [ ]:
harga_makan=int(input("berapa harga mi ayam per porsi?"))
jumlah_makan=int(input("berapa porsi yang anda beli?"))
total_makan=harga_makan*jumlah_makan
print(f"harga makan per porsi={harga_makan},totalnya adalah{total_makan}")

berapa harga mi ayam per porsi?20000
berapa porsi yang anda beli?2
harga makan per porsi=20000,totalnya adalah40000

In [ ]:
# Input belanja via keyboard
belanja = int(input("Masukkan total belanja: "))

# Penentuan diskon dengan kondisi bertingkat
if belanja > 1000000:
    diskon = 0.35 * belanja
elif belanja > 500000:
    diskon = 0.1 * belanja
else:
    diskon = 0

total_harga = belanja - diskon
print("Total harga setelah diskon =", total_harga)

Masukkan total belanja: 1500000
Total harga setelah diskon = 975000.0

In [ ]:
belanja = 2000000
diskon = (0,35 * belanja)[belanja > 1500000]
total_harga = belanja - diskon
print("total harga setelah diskon =", total_harga)

total harga setelah diskon = -68000000